# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Build dispatcherd

on: [push]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: dispatcherd/dispatcherd

jobs:
  lint:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v6
      
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25'

      - name: Install Task
        uses: go-task/setup-task@v1

      - name: Install mockery
        run: go install github.com/vektra/mockery/v3@latest

      - name: Generate mocks
        run: task genmock
        working-directory: ./dispatcherd

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          working-directory: ./dispatcherd

  test:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
    - uses: actions/checkout@v6

    - name: Install Task
      uses: go-task/setup-task@v1

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: '1.25'

    - name: Install mockery
      run: go install github.com/vektra/mockery/v3@latest

    - name: Build
      working-directory: ./dispatcherd
      run: task build

    - name: Test
      working-directory: ./dispatcherd
      run: task test

  build-container:
    # only build when a tag is pushed
    if: github.ref_type == 'tag'
    needs: 
      - lint
      - test

    runs-on: ubuntu-latest
    
    permissions:
      contents: write
      packages: write
      attestations: write
      id-token: write

    steps:
      - uses: actions/checkout@v6

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/s-schoen/${{ env.IMAGE_NAME }}

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v6
        with:
          context: ./dispatcherd
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v3
        with:
          subject-name: ${{ env.REGISTRY }}/s-schoen/${{ env.IMAGE_NAME}}
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          make_latest: "true"